<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .post{
            height: 80px;
            width: 100%;
            background-color: rgb(5, 199, 5);
            margin-top: 15px;
            padding-top: 45px;
            padding-left: 40px;
            font-size: 30px;
        }
    </style>
    <script>
        let counter = 1;
        const quantity = 20;

        window.onscroll = ()=>{
                if(window.innerHeight + window.scrollY >= document.body.offsetHeight-100){
                    load();
                }
            }

        document.addEventListener('DOMContentLoaded', load)
        function load(){
            const start = counter;
            const end = counter + quantity - 1;
            counter = end + 1;

            fetch(`/post?start=${start}&end=${end}`)
            .then(response => response.json())
            .then(data =>{
                data.posts.forEach(add_post);
            })

            function add_post(contents){
                const post = document.createElement('div');
                post.className = 'post';
                post.innerHTML = contents;

                document.querySelector('#posts').append(post);
            }
            
        }
        
    </script>
</head>
<body>
    <div id="posts"></div>
</body>
</html>